######################################################################
# Build Tools

/unpackage/
/node_modules/

######################################################################
# Development Tools

/.idea/
/.vscode/
/.hbuilderx/

######################################################################
# Logs & System Files

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

